.container {
  padding: 20px;
  min-width: 900px;
}

.header {
  display: flex;
  align-items: center;
}

.header h1 {
  margin-bottom: 10px;
}

.header div {
  margin-left: 10px;
}

.container h3 {
  color: #555;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 30px;
}

.container > div {
  margin: 20px 0;
}

.container input {
  margin-left: 10px;
}

.container select,
.container button {
  font-size: 1.5em;
  padding: 0.5em;
  border-radius: 10px;
  margin-left: 0.5em;
}

.error {
  position: fixed;
  top: 20px;
  right: 20px;
}

.error,
.warning {
  text-align: center;
  background-color: #ffdddd;
  border: 1px solid #ff0000;
  padding: 1.5em;
  border-radius: 10px;
}