.container {
  display: inline-block;
  position: relative;
}

.container input {
  font-size: 1em;
  background: #fafafa;
  padding: 0.2em;
  border: 1px solid #333;
  border-radius: 4px;
  cursor: pointer;
  min-width: 25em;
}

.container input:hover {
  background-color: #eee;
}

.container:active:after {
  content: 'Copied!';
  position: absolute;
  background-color: #fff;
  right: 0;
  top: 50%;
  padding-left: 0.5em;
  transform: translateX(100%) translateY(-50%);
}
