.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.header button {
  font-size: 16px !important;
}

.header button[disabled] {
  color: #000;
  cursor: default;
  border-color: #ddd;
}

.header button[disabled]:hover {
  background: #fff;
}

@media (prefers-color-scheme: dark) {
  .header button[disabled] {
    color: #fff;
    background-color: #1a1a1a;
    border-color: #666;
  }

  .header button[disabled]:hover {
    background-color: #1a1a1a;
  }
}
